[Unit]
Description=ydotool user daemon
After=default.target

[Service]
ExecStart=/usr/bin/voxd-ydotoold
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
